/* colors */
.bg-squared {
  background-size: 20px 20px;
  background-color: var(--color-base);
  background-image: radial-gradient(circle, var(--color-skeleton) 1px, var(--color-base) 0px);
  background-repeat: repeat;
}
.bg-accent { background-color: var(--color-accent); }
.bg-success { background-color: var(--color-success); }

.color-accent { color: var(--color-accent); }
.color-lighten { color: var(--color-lighten); }
.color-base { color: var(--color-base); }

/* flexbox */
.columns { display: flex; flex-direction: column; }
.row { display: flex; flex-direction: row; align-items: center; }
  .row.reverse { flex-direction: row-reverse; }
  .row.wrap { flex-wrap: wrap; }
  .row.space-between { justify-content: space-between; }

/* OTHERS */
.wrapper { margin: 0 auto; max-width: var(--wrapper);  padding-left: var(--space); padding-right: var(--space); }

.box {
  border-radius: var(--border-radius);
  padding: var(--space);
  width: 100%;
}
  .box:not(.highlight) {
    background-color: var(--bg-color);
    border: 1px solid var(--color-border);
    box-shadow: 0px 1px 4px rgba(128, 128, 128, 0.05);
  }
  .box.highlight {
    background-color: var(--color-accent);
    color: var(--bg-color);
  }

.skeleton { background-color: var(--color-skeleton); }

.spinner:before {
  display: inline-block;
  content: '⠋';
  animation: spin 1s linear infinite;
  vertical-align: middle;
  margin-right: calc(var(--unit) / 2);
}

.snackbar {
  border-radius: var(--border-radius);
  color: var(--bg-color);
  position: fixed;
  display: block;
  padding: var(--space-S);
  max-width: var(--wrapper-XS);
  bottom: var(--space-S);
  font-size: var(--font-size-S);
  font-weight: bold;
  text-align: center;
  transform: translateY(200%);
  transition: transform var(--animation);
  z-index: 2;
}
  .snackbar.visible {
    transform: translateY(0%);
  }
  .snackbar:not(.error) {
    background-color: var(--color-success);
  }
  .snackbar.error {

  }

@keyframes spin {
   0% { content: '⠋' }
  10% { content: '⠙' }
  20% { content: '⠹' }
  30% { content: '⠸' }
  40% { content: '⠼' }
  50% { content: '⠴' }
  60% { content: '⠦' }
  70% { content: '⠧' }
  80% { content: '⠇' }
  90% { content: '⠏' }
}

@media (max-width: 767px) {
  .hide-mobile { display: none; }
  .snackbar {
    left: var(--space);
    right: var(--space);
  }
}

@media (min-width: 768px) {
  .snackbar {
    left: 50%;
    margin-left: calc(var(--wrapper-XS) / -2);
    width: 100%;
  }
}
