[data-page="dashboard"] {}

[data-page="dashboard"] article .wrapper {
  padding-top: calc(var(--header) + var(--space-L));
  padding-bottom: var(--space-L);
  min-height: 100vh;
}

[data-page="dashboard"] .summary {}
  [data-page="dashboard"] .summary .box {
    min-height: 192px;
    justify-content: center;
  }
  [data-page="dashboard"] .summary .box:last-child {
    max-width: 30%;
    margin-left: var(--space-L);
  }

[data-page="dashboard"] .box {
  margin-bottom: var(--space-L);
}

[data-page="dashboard"] .header.row { padding-bottom: var(--space-S); justify-content: space-between; }


[data-page="dashboard"] ul { list-style: none; }
  [data-page="dashboard"] ul li { width: 100%; }
[data-page="dashboard"] ul * { font-family: var(--font-mono); font-size: var(--font-size-S); }
  [data-page="dashboard"] ul .fields { font-weight: bold; }
  [data-page="dashboard"] ul .row { padding: var(--space-XS) 0; }
    [data-page="dashboard"] ul .row .field { width: 15%; }
    [data-page="dashboard"] ul .row .customer { width: 55%; }
  [data-page="dashboard"] ul *:not(.fields) .row:hover { background-color: var(--color-secondary); }

[data-page="dashboard"] .right { text-align: right; justify-content: flex-end; }

[data-page="dashboard"] .border { border-bottom: solid 1px var(--color-skeleton); }
