[data-page="invoice"] article .wrapper {
  padding-top: calc(var(--header) + var(--space-L));
  padding-bottom: var(--space-L);
}

.invoice {
  display: flex;
  flex-direction: row;
}

.invoice .form {
  background-color: var(--bg-color);
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  padding: var(--space-L);
}
  .invoice .form.skeleton {
    min-height: 100vh;
    background-color: var(--color-skeleton);
    flex: 1;
  }
  .invoice .form._fixed {
    margin-right: calc(var(--space) + 192px);
  }

  .invoice .form *:not(button) { font-family: var(--font-mono); }
  .invoice .border { border-bottom: solid 1px var(--color-skeleton); }
  .invoice .row.total * { padding: var(--space-XS) 0; font-size: var(--font-size); }

  .invoice .fieldset {
    display: flex;
    flex-direction: row;
    margin-bottom: var(--space);
    padding-bottom: var(--space);
  }
    .invoice .fieldset > div { max-width: 50%; width: 50%; }
      .invoice .fieldset > div:first-child { margin-right: var(--space-S); }
      .invoice .fieldset > div:last-child { margin-left: var(--space-S); }

    .invoice .fieldset:first-child { justify-content: space-between; }
    .invoice .fieldset:first-child * { width: auto; }
    .invoice .fieldset:first-child div:first-child input { margin-left: var(--space-S); }
    .invoice .fieldset:first-child div:last-child label { margin-left: var(--space-S); }
    .invoice .fieldset:first-child div:last-child input { background-color: var(--bg-color); border: none; }

  .invoice .form table { margin-bottom: var(--space); }
    .invoice .form table th:not(:last-child) { padding-right: var(--space-XS); }
    .invoice .form table tbody tr:last-child td { padding-bottom: var(--space-L); }
    .invoice .form table td { border-bottom: none; padding-bottom: 0; }
      .invoice .form table td:first-child { width: 49%; }
      .invoice .form table td.right { width: 12%; }
      .invoice .form table td:not(:last-child) { padding-right: var(--space-XS); }
      .invoice .form table td input { margin-bottom: 0; }
      .invoice .form table td:last-child { justify-content: flex-end; }

.invoice .options { min-width: var(--aside); }
.invoice .options:not(._fixed) { margin-left: var(--space); }
  .invoice .options._fixed {
    position: fixed;
    max-width: var(--wrapper);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: calc(var(--space) * 2);
  }
  .invoice .options._fixed > * {
    max-width: 192px;
  }

    .invoice .options .columns > * { margin-bottom: var(--space-S); width: 100%;}

  .invoice .options .row button:first-child { border-right: 0; border-top-right-radius: 0; border-bottom-right-radius: 0; }
  .invoice .options .row button:last-child { border-top-left-radius: 0; border-bottom-left-radius: 0; }

@media (max-width: 767px) {
}

@media (min-width: 768px) {

}
