[data-page="register"] article.wrapper {
  align-items: center;
  max-width: var(--wrapper-XS);
  min-height: 100vh;
}

[data-page="register"] article .logo {
  margin-top: var(--space);
  margin-bottom: var(--space-XL);
  height: calc(var(--unit) * 4.8);
}

[data-page="register"] h1 { font-size: var(--font-size-XL); }

[data-page="register"] h1,
[data-page="register"] p {
  text-align: center;
  margin-bottom: var(--space);
}

[data-page="register"] #form {
  max-width: 440px;
}
  [data-page="register"] #form .error {
    background-color: var(--color-skeleton);
    border-radius: var(--border-radius);
    color: var(--color-lighten);
    margin-top: var(--space);
    padding: var(--space-S);
    text-align: left;
    font-size: var(--font-size-S);
  }
  [data-page="register"] #form nav { margin-top: var(--space); }

[data-page="register"] input:not([type="checkbox"]) { margin-bottom: var(--space-S); }

[data-page="register"] .illustration { margin-top: var(--space-XL); width: 100%; }
