body {
  background-color: var(--bg-color);
  color: var(--color);

  font-size: var(--font-size);
  margin: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: background var(--animation);
}

* {
  box-sizing: border-box;
  font-family: var(--font);
  /*font-size: var(--font-size);*/
  margin: 0;
  padding: 0;
}

/* -- <button> */
button, .button {
  display: inline-block;
  background-color: var(--color-accent);
  border: 0;
  border-radius: var(--border-radius);
  color: var(--bg-color);
  cursor: pointer;
  font-weight: bold;
  font-size: var(--font-size-S);
  height: var(--input-height);
  outline: 0;
  padding: 0 var(--space);
  text-decoration: none;
  text-align: center;
  text-align: center;
}
  .button { line-height: var(--input-height); }
  button.secondary, .button.secondary {
    background-color: var(--color-secondary);
    color: var(--color-accent);
  }
  button.outlined, .button.outlined {
    background-color: var(--bg-color);
    border: solid 1px var(--color-skeleton);
    color: var(--color);
  }
  button:not(.secondary):not(.outlined), .button:not(.secondary):not(.outlined) { box-shadow: 0 2px 4px 0 rgba(100,100,100,.5); }
  button.success, .button.success { background-color: var(--color-success); }
  button.error, .button.error { background-color: var(--color-error); }
  button:hover, .button:hover { opacity: 0.9; }
  button.outlined:hover, .button.outlined:hover { background-color: var(--color-skeleton); }
  button[disabled], .button.disabled {
    background-color: var(--color-skeleton);
    border-color: transparent;
    box-shadow: none !important;
    color: var(--color-lighten);
    pointer-events: none;
  }
  button.busy:before, .button.busy:before {
    display: inline-block;
    content: '⠋';
    animation: spin 1s linear infinite;
    vertical-align: middle;
    margin-right: calc(var(--unit) / 2);
  }

/* -- <a> */
a { color: var(--color); text-decoration: none; }

/* -- <img> */
img { background-color: var(--skeleton); border: 0; }

/* -- <form>, <input>... */
input:not([type="checkbox"]), textarea, select {
  background-color: transparent;
  border: none;
  border-radius: var(--border-radius);
  color: var(--color);
  font-size: var(--font-size-S);
  height: var(--input-height);
  margin-bottom: var(--space-XS);
  padding: 0 var(--unit);
  transition: border-color var(--animation);
  width: 100%;
}
  input.border, textarea.border, select.border {
    background-color: var(--bg-color);
    border: solid 1px var(--color-skeleton);
  }
  input:not(.border), textarea:not(.border), select:not(.border) {
    background-color: var(--color-base);
    border: solid 1px var(--color-base);
  }
  input:active, input:focus,
  textarea:active, textarea:focus,
  select:active, select:focus { border-color: var(--color-accent); }

  input[disabled], textarea[disabled], select[disabled] {
    background-color: var(--bg-color);
    border-color: var(--color-skeleton);
  }

  input:focus + .tag {
    background-color: var(--color-border);
  }

  input + .tag {
    background-color: var(--color-accent);
    border-radius: var(--border-radius);
    color: var(--bg-color);
    display: inline-block;
    font-size: var(--font-size-XS);
    font-weight: bold;
    line-height: var(--font-size-L);
    margin-left: calc(var(--unit) * -7.8);
    padding: 0 var(--space-XS);
  }

  input + .tag.busy {
    background-color: transparent;
    margin-left: calc(var(--unit) * -3.6);
  }
  input + .tag.busy:before {
    display: inline-block;
    content: '⠋';
    color: var(--color-accent);
    animation: spin 1s linear infinite;
    vertical-align: middle;
  }


input[type="checkbox"] { margin: var(--space-XS) 0; }
  input[type="checkbox"] + label { font-weight: normal; margin: var(--space-XS); }

input[type="date"] { position: relative; }
input[type="date"]::-webkit-clear-button { display: none; }
input[type="date"]::-ms-clear { display: none; }
input[type="date"]::-webkit-inner-spin-button { display: none; }
input[type="date"]::-webkit-calendar-picker-indicator { position: absolute; right: 0; }

textarea { min-height: calc(var(--unit) * 7.2); padding-top: var(--unit); }
textarea, select, input, button { outline: none; }

label {
  display: inline-block;
  font-size: var(--font-size-S);
  font-weight: bold;
  position: relative;
  width: 100%;
}
  label + input, label + textarea, label + select { margin-top: var(--space-XS); }
  label > .right { font-weight: normal; position: absolute; right: 0; }

/* -- Browser spec -- */
::-webkit-scrollbar { display: none; }

/* -- <table> */
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin: 0;
  margin-bottom: var(--space-XS);
}
  table td, table th {
    text-align: left;
    padding-bottom: var(--space-XS);
    border-bottom: solid 1px var(--color-skeleton);
    font-size: var(--font-size-S);
    padding-top: var(--space-XS);
  }
    table th:not(:last-child),
    table td:not(:last-child) { padding-right: var(--space-S); }
  table .center, table .center * { text-align: center; }
  table .right, table .right * { text-align: right; }

/* -- <header> */
header {
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}
  header.solid {
    background: var(--bg-color);
    border-bottom: 1px solid var(--color-skeleton);
    box-shadow: 0 4px 20px rgba(16,19,20,.04);
  }
  header .wrapper {
    align-self: center;
    height: var(--header);
    justify-content: space-between;
  }
  header .logo { height: 36px; margin-right: var(--unit); }

  header nav { margin-left: var(--space); }
    header nav > * { margin-left: var(--space-XS) }

/* -- <footer> */
footer { background-color: var(--color-accent); padding: var(--space-S) 0; }
  footer * { color: var(--color-base); font-size: var(--font-size-S); }
  footer .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  footer .logo { margin-left: var(--space-XS); height: 24px; }


/* -- media queries */
@media (max-width: 767px) {
  footer .wrapper { flex-direction: column; }
}

@media (min-width: 768px) {
}
