<header class="solid">
  <div class="row wrapper">
    <a href="/" class="row">
      <img class="logo" src="/static/icon.png" />
      <strong>Dashboard</strong>
    </a>
    <nav class="row">
      <a class="button" href="/invoice/new">New Invoice</a>
      <a class="button secondary" href="/profile">Profile</a>
    </nav>
  </div>
</header>

<article class="bg-squared">
  <div class="wrapper">
    <div class="summary row space-between">
      <section class="box highlight">
        @TODO: Chart
      </section>

      <section class="box highlight columns">
        <h3>$0.00</h3>
        <small>Invoiced YTD</small>

        <h3>$0.00</h3>
        <small>Invoiced past 12 months</small>
      </section>
    </div>

    {{drafts}}
    {{unpaid}}
    {{confirmed}}
  </div>
</article>
