<header class="solid">
  <div class="row wrapper">
    <a href="/" class="row">
      <img class="logo" src="/static/icon.png" />
      <strong>Dashboard</strong>
    </a>
    <nav class="row">
      <a class="button" href="/invoice/new">New Invoice</a>
      <a class="button secondary" href="/profile">Profile</a>
    </nav>
  </div>
</header>

<article class="bg-squared">
  <div class="wrapper">
    <div class="summary row space-between">
      <section class="box highlight">
        @TODO: Chart
      </section>

      <section class="box highlight columns">
        <h3>$0.00</h3>
        <small>Invoiced YTD</small>

        <h3>$0.00</h3>
        <small>Invoiced past 12 months</small>
      </section>
    </div>

    <section class="box">
      <div class="header border row">
        <h2>Drafts</h2>
        <a href="/invoice/new" class="button">New Invoice</a>
      </div>
      <ul>
        <li class="row fields border">
          <span class="field">No.</span>
          <span class="customer">Client</span>
          <span class="field center">Issued</span>
          <span class="field right">Total</span>
          <span class="field right">BTC</span>
        </li>
        {{drafts}}
        <li class="row right">?.???????₿</li>
      </ul>
    </section>

    <section class="box">
      <div class="header row">
        <h2>Unpaid</h2>
        <a href="/invoice/new" class="button secondary">All Invoices</a>
      </div>
      <ul>
        <li class="fields border">
          <div class="row">
            <span class="field">No.</span>
            <span class="customer">Client</span>
            <span class="field center">Issued</span>
            <span class="field right">Total</span>
            <span class="field right">BTC</span>
          </div>
        </li>
        {{ready}}
        <li class="row right">?.???????₿</li>
      </ul>
    </section>
  </div>
</article>
