<header class="solid">
  <div class="row wrapper">
    <a href="/" class="row">
      <img class="logo" src="/static/logo.png" />
    </a>
    <nav class="row">
      <a class="button" href="/login">Sign In</a>
      <a class="button secondary" href="/register">Try it free</a>
    </nav>
  </div>
</header>

<article>
  <div class="wrapper">
    <h1>Invoicing Software for Small Business</h1>
    <p>
      Create a free account to save your invoices and customers or simply create a free invoice on the go!
    </p>

    <div id="demo">

    </div>

    <a href="/login">
      CREATE FREE ACCOUNT
    </a>
    <small>Free for 30 days. No risk. No credit card.</small>
  </div>
</article>

 <script id="rates" type="application/json">{{rates}}</script>

