:root {
  --animation: 250ms ease-in-out;
  --aside: 224px;

  --bg-color: white;
  --border-radius: 0.25rem;

  --color: #2e2d31;
  --color-base: #f8f8f8;
  --color-border: #f2f2f2;
  --color-lighten: #666;
  /*--color-accent: #2B61F1;*/
  --color-accent: #4C47F7;
  --color-secondary: rgba(90,82,255,.05);
  --color-success: #01B757;
  --color-skeleton: #e5e5e5;

  --font: 'Raleway', sans-serif;
  --font-mono: 'Inconsolata', monospace;
  --font-size-XL: 2.4rem;
  --font-size-L: 1.3rem;
  --font-size: 18px;
  --font-size-S: 0.9rem;
  --font-size-XS: 0.8rem;

  /*--mobile: 768px;*/

  --header: 64px;

  --input-height: 42px;

  --space-XL: 4.8rem;
  --space-L: 2.4rem;
  --space: 1.6rem;
  --space-S: 1.2rem;
  --space-XS: 0.5rem;

  /*--tablet: 1024px;*/

  --unit: 10px;

  --wrapper: 1200px;
  --wrapper-S: 900px;
  --wrapper-XS: 512px;
}

@media (max-width: 767px) {
  :root { --font-size: 16px; }
}

@media (min-width: 768px) {
  /*:root { --font-size: 18px; }*/
}

/* -- reset -- */
@import './styles/reset.css';
@import './styles/classes.css';

/* -- views -- */
@import './styles/home.css';
@import './styles/register.css';
@import './styles/login.css';
@import './styles/dashboard.css';
@import './styles/profile.css';
@import './styles/invoice.css';
@import './styles/invoice-preview.css';
@import './styles/home.css';
@import './styles/error.css';
