<header>
  <div class="row wrapper">
    <a href="/" class="row">
      <img class="logo" src="/static/icon.png" />
      <strong>{{title}}</strong>
    </a>
    <nav class="row">
      <a class="button" href="/">Dashboard</a>
      <a class="button secondary" href="/profile">Profile</a>
    </nav>
  </div>
</header>

<article class="bg-squared">
  <div id="form" class="wrapper"></div>
</article>

<footer>
  <div class="wrapper">
    <a class="_color-base" href="{{DOMAIN}}" target="_blank">{{COPYRIGHT}}</a>
    <span class="row">🎉 Happy Invoicing with <a href="{{DOMAIN}}" target="_blank"><img class="logo" src="/static/logo-highlight.png" /></a></span>

  </div>
</footer>
